In [4]:
import pandas as pd

In [39]:
airbnb = pd.read_csv("AB_NYC_2019.CSV")
airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [40]:
# 1. Data Integrity: To ensure accuracy, consistency and reliality of data throughout the cleaning process

# Column renaming to proper
airbnb.columns = ["Id", "Name", "Host Id", "Host Name", "Neighbourhood Group",
"Neighbourhood", "Latitude", "Longitude", "Room Type", "Price", 
"Minimum Nights", "Number of Reviews", "Last Reviews",
"Monthly Reviews", "Calculated Host Listing Count", "Yearly Availability"]

airbnb.head(3)

,Id,Name,Host Id,Host Name,Neighbourhood Group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number of Reviews,Last Reviews,Monthly Reviews,Calculated Host Listing Count,Yearly Availability
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [42]:
# Check for data types and correct any inconsistencies
airbnb.info()
airbnb["Last Reviews"] = pd.to_datetime(airbnb["Last Reviews"])
airbnb["Neighbourhood Group"] = airbnb["Neighbourhood Group"].astype("category")
airbnb["Room Type"] = airbnb["Room Type"].astype("category")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Id                             48895 non-null  int64
 1   Name                           48879 non-null  object
 2   Host Id                        48895 non-null  int64
 3   Host Name                      48874 non-null  object
 4   Neighbourhood Group            48895 non-null  category
 5   Neighbourhood                  48895 non-null  object
 6   Latitude                       48895 non-null  float64
 7   Longitude                      48895 non-null  float64
 8   Room Type                      48895 non-null  category
 9   Price                          48895 non-null  int64
 10  Minimum Nights                 48895 non-null  int64
 11  Number of Reviews              48895 non-null  int64
 12  Last Reviews                   38843 non-null  datetime64[ns]
 13  Monthly Reviews                38843 non-null  float64
 14  Calculated Host Listing Count  48895 non-null  int64
 15  Yearly Availability            48895 non-null  int64
dtypes: category(2), datetime64[ns](1), float64(3), int64(7), object(3)
memory usage: 5.3+ MB

In [43]:
# 2. Missing Data Handling

# Check for missing values
airbnb_missing = airbnb.isnull().sum()
airbnb_missing

Id                                   0
Name                                16
Host Id                              0
Host Name                           21
Neighbourhood Group                  0
Neighbourhood                        0
Latitude                             0
Longitude                            0
Room Type                            0
Price                                0
Minimum Nights                       0
Number of Reviews                    0
Last Reviews                     10052
Monthly Reviews                  10052
Calculated Host Listing Count        0
Yearly Availability                  0
dtype: int64

In [44]:
# Deleting rows with null values

airbnb.dropna(how = "all")
airbnb.dropna(subset = ["Name", "Host Name"], inplace = True)

# Impute missing values with mean for "Monthly Rewiews" and "Last rewiews" columns
airbnb["Last Reviews"].fillna(airbnb['Last Reviews'].mean(), inplace=True)
airbnb["Monthly Reviews"].fillna(airbnb['Monthly Reviews'].mean(), inplace=True)

C:\Users\kchuc\AppData\Local\Temp\ipykernel_15164\2380264089.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  airbnb["Last Reviews"].fillna(airbnb['Last Reviews'].mean(), inplace=True)
C:\Users\kchuc\AppData\Local\Temp\ipykernel_15164\2380264089.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  airbnb["Monthly Reviews"].fillna(airbnb['Monthly Reviews'].mean(), inplace=True)

In [45]:
# Check for missing values
airbnb_missing = airbnb.isnull().sum()
airbnb_missing

Id                               0
Name                             0
Host Id                          0
Host Name                        0
Neighbourhood Group              0
Neighbourhood                    0
Latitude                         0
Longitude                        0
Room Type                        0
Price                            0
Minimum Nights                   0
Number of Reviews                0
Last Reviews                     0
Monthly Reviews                  0
Calculated Host Listing Count    0
Yearly Availability              0
dtype: int64

In [47]:
# 3. Duplicate Removal: Identifying and eliminating duplicate records to maintain data uniqueeness

# Check for duplicate records
airbnb.duplicated().sum()

0

In [48]:
airbnb

,Id,Name,Host Id,Host Name,Neighbourhood Group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number of Reviews,Last Reviews,Monthly Reviews,Calculated Host Listing Count,Yearly Availability
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19 00:00:00.000000000,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21 00:00:00.000000000,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2018-10-04 07:23:47.072976128,1.373229,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05 00:00:00.000000000,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19 00:00:00.000000000,0.100000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2018-10-04 07:23:47.072976128,1.373229,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2018-10-04 07:23:47.072976128,1.373229,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2018-10-04 07:23:47.072976128,1.373229,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2018-10-04 07:23:47.072976128,1.373229,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2018-10-04 07:23:47.072976128,1.373229,1,23

In [49]:
# 4. Standardization: To achieve consistent formatting across dataset

# Standardize column names to proper 
airbnb.columns = airbnb.columns.str.title()
airbnb.head(10)
airbnb["Name"] = airbnb["Name"].str.title()
airbnb["Host Name"] = airbnb["Host Name"].str.title()
airbnb["Neighbourhood Group"] = airbnb["Neighbourhood Group"].str.title()
airbnb["Neighbourhood"] = airbnb["Neighbourhood"].str.title()
airbnb["Room Type"] = airbnb["Room Type"].str.title()
airbnb.head(10)

,Id,Name,Host Id,Host Name,Neighbourhood Group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number Of Reviews,Last Reviews,Monthly Reviews,Calculated Host Listing Count,Yearly Availability
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,149,1,9,2018-10-19 00:00:00.000000000,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apt,225,1,45,2019-05-21 00:00:00.000000000,0.380000,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private Room,150,3,0,2018-10-04 07:23:47.072976128,1.373229,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,Lisaroxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apt,89,1,270,2019-07-05 00:00:00.000000000,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apt,80,10,9,2018-11-19 00:00:00.000000000,0.100000,1,0
5,5099,Large Cozy 1 Br Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire Home/Apt,200,3,74,2019-06-22 00:00:00.000000000,0.590000,1,129
6,5121,Blissartsspace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private Room,60,45,49,2017-10-05 00:00:00.000000000,0.400000,1,0
7,5178,Large Furnished Room Near B'Way,8967,Shunichi,Manhattan,Hell'S Kitchen,40.76489,-73.98493,Private Room,79,2,430,2019-06-24 00:00:00.000000000,3.470000,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,Maryellen,Manhattan,Upper West Side,40.80178,-73.96723,Private Room,79,2,118,2017-07-21 00:00:00.000000000,0.990000,1,0
9,5238,Cute & Cozy Lower East Side 1 Bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire Home/Apt,150,1,160,2019-06-09 00:00:00.000000000,1.330000,4,188

In [53]:
# 5. Outlier Detection: Identify and address outliers that may skew analysis or model performance.

# Detect outliers using Z-score 
airbnb_z_scores = (airbnb["Price"] - airbnb["Price"].mean()) / airbnb["Price"].std()
airbnb_outliers = airbnb[(airbnb_z_scores > 3) | (airbnb_z_scores < -3)]

# Remove outliers or apply transformations
airbnb = airbnb[(airbnb_z_scores < 3) & (airbnb_z_scores > -3)]